<!DOCTYPE html>
<html>
<head>
    <title>Welcome page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Logus Tech Challenge</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Teams</th>
            <th scope="col">Away</th>
            <th scope="col">Home</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for game in result %}
        <tr>
            <th scope="row">{{ game.teams }}</th>
            <td class="{{ 'table-success' if game.away > game.home else 'table-danger' }}"> {{game.away }} </td>
            <td class="{{ 'table-success' if game.home > game.away else 'table-danger' }}"> {{game.home }} </td>
            <td> {{game.date }} </td>
            <td> 
                <form action="{{ url_for('home.edit') }}" method="GET">
                    <input type="hidden" name="game_id" value="{{game.id}}">
                    <button type="submit"> Edit </button>
                </form>    
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>